body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
p{
    text-align: justify;
}
.navbar{
    background-color: rgb(var(--bs-secondary-bg-rgb));
}
.main{
    flex-grow: 1;
}
.footer{
    flex-shrink: 0;
}
.main-card, .attribute-card, .tags{
    background-color: rgb(var(--bs-tertiary-bg-rgb));
}
.main-card .collections-cards .card.collection{
    min-height: 220px;
}
.main-card .items-cards .card.item card.date-and-button{
    width: 180px;
}
.collection-block p{
    text-indent: 1.5em;
}
.comments-vew .comment{
    background-color: rgb(var(--bs-secondary-bg-rgb));
}