body {
}
.main-card{
    background-color: rgb(251, 250, 255);
}
.main-card .collections-cards .card.collection{
    min-height: 220px;
}

.main-card .items-cards .card.item card.date-and-button{
    width: 180px;
}